.wallet-input:read-only {
    background-color: rgb(203, 203, 203) !important;
    cursor: not-allowed;
    color: white;
}

button {
    color: #fff;
}

.input-error {
    color: red;
    margin-bottom: 4em;
    padding-bottom: 4em;
}